
@{
    ViewBag.Title = "CancelOrder";
}

<h2>Orden de Compra Cancelada</h2>
<div>
    <p>Has cancelado tu orden de compra</p>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">
        <i class="fa fa-arrow-alt-circle-left"></i>
        Volver
    </a>

</div>


