
@{
    ViewBag.Title = "EmptyCart";
}

<h2>Carrito Vacio!!!</h2>
<div>
    <p>Tu carrito no tiene productos todavía</p>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">
        <i class="fa fa-arrow-alt-circle-left"></i>
        Volver
    </a>

</div>

